/*
* Layout for Emphasize Admin Pages
*
*/

.page {
    transition: 0.3s margin-left;
    transition-timing-function:cubic-bezier(0.4, 0.0, 0.2, 1);
    margin-left: 0;
    @media (min-width: $screen-sm-min) {
        margin-left: $sidebar-size;
        &.full-width {
            margin-left: 0;
        }
     }
}

.fullpage-form-container {
/* Class Used on page element for login/signup etc. For pages that have just a form. */
    width: 32em;
    margin: auto;
    margin-top: 7%;
    &.fullpage-form-container-wide {
        margin-top: 5%;
        width: 35em;
    }
}

.sidebar-toggled-mini .page {
/* .sidebar-toogled-mini Class Used on body element when the sidebar is in collapsed mini state. */
    @media (min-width: $screen-sm-min) {
        margin-left: $sidebar-mini-size;
    }

}

.sidebar-toggled-visible .page {
/* .sidebar-toogled-mini Class Used on body element when the sidebar is visible. */
  margin-left:0;
  @media (min-width: $screen-sm-min) {
      margin-left: $sidebar-size;
      &.full-width {
          margin-left: 0;
      }
   }
}

.sidebar-toggled-visible.sidebar-toggled-mini .page {
    @media (min-width: $screen-sm-min) {
        margin-left: $sidebar-mini-size;
    }

}

.sidebar-toggled-hidden.sidebar-toggled-mini .page {
    margin-left: 0;
}

.sidebar-toggled-hidden .page {
    margin-left: 0;
}

.page-content {
    padding-top:0px;
    padding-left:15px;
    padding-right:15px;
    &.no-padding {
        padding-left:0px;
        padding-right:0px;
    }

}
.fixed-navbar-top .page{
    /* .fixed-navbar-top Class Used on body element when the navbar is fixed on top. */
    padding-top:$navbar-height;
}
.page-wrapper {
    position: relative;
}
.row-table {
    /* A new form of grid that used display:table */
    width: 100%;
    height: 100%;
    margin: 0;
    display: table;
    table-layout: fixed;
    &::after,&::before {
        display: none;
        content: "";
    }
    > [class*=col-] {
        display: table-cell;
        margin: 0;
        padding: 0;
        vertical-align: top;
        float: none;
        table-layout: fixed;
    }
    &.row-middle {
      > [class*=col-] {

          vertical-align: middle;

      }
    }

}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4,
.col-xs-5,.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,
{
    /*Reduce default grid padding on small screens*/
    padding-left:10px;
    padding-right: 10px;
    @media (min-width: $screen-sm-min) {
        padding-left:15px;
        padding-right: 15px;
    }
}
.page-content
{
    /*Reduce default Page padding on small screens*/
    padding-left:0px;
    padding-right: 0px;
    @media (min-width: $screen-sm-min) {
        padding-left:15px;
        padding-right: 15px;
    }
}
