
.navbar-theme-dark {

    background: lighten(#282F39,10%); /*background: lighten(#282F39,10%);*/

}


.navbar-theme-blue {
    background-base: lighten(#1E88E5,2%); /*background-base: lighten(#1E88E5,2%);*/
    background-accent: lighten(#1E88E5,7%); /*background-accent: lighten(#1E88E5,7%);*/
    border-color:  darken(#1E88E5,1%); /*border-color:  darken(#1E88E5,1%);*/

}
.navbar-theme-teal {

    background-accent: lighten(#26C1B1,2%); /*background-accent: lighten(#26C1B1,2%);*/


}
.navbar-theme-primary {
    background-base: lighten(#7359EE,0%); /*background-base: lighten(#7359EE,0%);*/
    background-accent: lighten(#7359EE,2%); /*background-accent: lighten(#7359EE,2%);*/
    border-color:  darken(#7359EE,0%); /*border-color:  darken(#7359EE,0%);*/

}
