@import "chartist"; // Styling for svg based charts
.easy-pie-chart {
    position: relative;
}
.easy-pie-chart canvas {
    position: absolute;
    top: 0;
    left:0;
}
.easy-pie-chart {
    width: 110px;
    height: 110px;
    text-align: center;
    line-height: 120px;
    margin-right: 1em;
}
.demo-elements {
    padding: 1em 0em 0em;
}
.demo-section {
    margin-bottom: 0.5em;
}
.jqstooltip {
     max-width: 500px !important;
     max-height: 500px !important;
     height: 30px !important;
     width: auto !important;
}

.jqsfield {
     font-size: 10px !important;
}
